# Maven
target/
.pom.xml.tag
.pom.xml.releaseBackup
.pom.xml.versionsBackup
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
logs/

# OS generated
.DS_Store
Thumbs.db

# IDEs and Editors
*.iml
*.ipr
*.iws
.out
.project
.settings/
.idea/
.vscode/